$grey700: #616161;
$red500: #f44336;

.login-screen {
  margin-top: 30%;
  text-align: center;
  font-family: sans-serif;

  .welcome {
    color: $grey700;
    text-align: left;
    margin: 2em;

    h1, h2, h3 {
      text-align: center;
    }
  }
  .action-btn {
    margin: 1em 12px;
  }

  .message {
    margin-top: 2em;

    &.error-message {
      color: $red500;
    }
  }
}
