$grey700: #616161;
$red500: #f44336;

.register-screen {
  margin-top: 50%;
  text-align: center;
  font-family: sans-serif;

  .register-welcome {
    color: $grey700;
    text-align: left;
    margin: 2em;

    h1, h2, h3 {
      text-align: center;
    }
  }
  .register-btn {
    margin-top: 1em;
  }

  .register-message {
    margin-top: 2em;

    &.register-error {
      color: $red500;
    }
  }
}
